# .idea folder
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf
/local.properties
.idea/**/caches
.idea/**/misc.xml
.idea/**/navEditor.xml
.idea/**/assetWizardSettings.xml
.idea/deploymentTargetDropDown.xml

# Gradle
.idea/**/gradle.xml
.idea/**/libraries
.gradle

# Gradle and Maven with auto-import
.idea/artifacts
.idea/compiler.xml
.idea/jarRepositories.xml
.idea/modules.xml
.idea/*.iml
.idea/modules
*.iml
*.ipr

.DS_Store
/build
/captures
.externalNativeBuild
.cxx

*.aar.asc
